@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background: url(/images/background.jpg);
    background-attachment: fixed;
    font-family: 'Open-Sans', sans-serif;
    height: 1700px;
}
.header
{
    max-width: 1200px;
    margin: 0 auto;
}
.logo
{
    height: 150px;
    display: flex;
}
.logo a
{
    margin: auto;
    
}
.nav-content
{
    background: url(/images/KdQtTj.jpg);
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.nav-content li:hover .sub-nav-menu
{
    display: block;
}
.nav-menu
{
    margin: auto;
}
.nav-menu .sub-nav-menu
{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.nav-menu .sub-nav-menu a
{
    color: black;
}
.nav-menu,.sub-nav-menu
{
    list-style: none;
}
.sub-nav-menu
{
    margin-left: -12px;
}
.nav-menu.father
{
    position: relative;
}
.nav-menu-list
{
    margin: 0 2px;
}
.nav-menu-list>a
{
    padding: 8px 0;
}
.nav-menu-list>a
{
    text-transform: uppercase;
    color: rgb(255, 0, 0);
}
.nav-menu-list,.linking
{
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    line-height: 38px;
    padding: 0 12px;
    transition: 0.25s;
}
.nav-menu li:hover a
{
    text-decoration: none;
    color: black;
}
.nav-menu >li:hover>a,
.nav-menu li:hover
{
    color: black;
    background-color: #ccc;
}
/* .nav-menu li:hover
{
    color: black;
    background-color: #ccc;
} */
.Mid
{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.Mid-content
{
    height: 1200px;
    background-color: #f5f5f5;
    width: 900px;
    border: 4px solid #760505;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: large;
}
.Mid-content h2
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.Mid-slidershow
{
    width: 800px;
    max-width: 100vw;
    height: 450px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slidershow-list
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}
.slidershow-list img
{
    width: 800px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slidershow-buttons
{
    position: absolute;
    top: 45%;
    left: 2%;
    width: 96%;
    display: flex;
    justify-content: space-between;
}
.slidershow-buttons button
{
    width: 30px;
    height: 50px;
    border-radius: 10%;
    background-color: rgba(254, 147, 24, 0.3);
    color: #fff;
    border: none;
    transition: 0.25s;
}
.slidershow-buttons button:hover
{
    cursor: pointer;
    background-color: rgba(254, 147, 24, 0.9);
}
.slidershow-dots
{
    position: absolute;
    bottom: 10px;
    color: #ffffff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slidershow-dots li
{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}
.slidershow-dots li:hover
{
    background-color: gray;
}
.slidershow-dots li.active
{
    width: 30px;
    background-color: gray;
}
.Mid-content-supertext
{
    margin-left: 70px;
}
.Mid-content-supertext-list li
{
    padding-top: 50px;
}
.Mid-content-supertext-list img
{
    width: 250px;
    height: 150px;
    object-fit: cover;
    padding-right: 20px;
}
.Mid-content-supertext-list h4
{
    padding-bottom: 10px;
}
.Mid-content-supertext-list a
{
    text-decoration: none;
    color: chocolate;
    transition: 0.25s;
}
.Mid-content-supertext-list a:hover
{
    color: rgb(29, 95, 95);
}
.article
{   
    background-color: chocolate;
    width: 300px;
    border: 4px solid #760505;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ariticle-player
{
    /* border: 1px solid white; */
    margin-top: 50px;
}
.ariticle-player div
{
    margin-top: 20px;
    height: 30px;
    width: 250px;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    margin-left: auto;
    margin-right: auto;
    background-size: 25px;
}
.ariticle-player-online
{
    background: url(/images/steven_icon.png) no-repeat;
    font-size: 19px;
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    
}
.ariticle-ip-server
{
    font-size: 19px;
    background: url(/images/minecraft-world-icon-14.jpg) no-repeat;
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    
}
.ariticle-server-version
{
    font-size: 19px;
    border-bottom: 1px solid rgb(0, 0, 0);
    
}
.ariticle-discord-Widget
{
    height: 500px;
    /* border: 1px solid white; */
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
#description
{
    width: 1200px;
    height: 150px;
    background-color: #222222;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: #959595;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    
}
#description p
{
    margin: 20px 40px;
    font-size: 17px;
}
#description a
{
    color: #959595;
    text-decoration: none;
    transition: 0.25s;
}
#description a:hover
{
    color: aqua;
}